<div id="home-page">
    <!-- <h1 class="header">SongSync</h1> -->
    <div id = "logo">
    	<img src= "http://i62.tinypic.com/jjsac6.png"/>
    </div>

  <div class="oauth-badges">
    <a href='#idk' class="btn btn-primary" id="btn-spotify">Connect with Spotify</a>
    <a href='#/login' class="btn btn-default" id="btn-login">Sign In</a>
    <a href='#idk' class="btn btn-info" id="btn-facebook">Connect with Facebook</a>
  </div>
</div>