<div id="home-page">
    <h1 class="header">SongSync</h1>

  <div class="oauth-badges">
    <button class="btn btn-primary" id="btn-spotify">Connect with Spotify</button>
    <button class="btn btn-info" id="btn-facebook">Connect with Facebook</button>
  </div>
</div>