@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,400italic,500italic,700italic,900italic,300italic,300,100,100italic);

$clouds: #ECF0F1;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$asbestos: #7F8C8D;

body {
  margin-top: 53px !important;
  height: 100%;
}

#playlists-sidebar {
  background-color: $clouds;
  a.active {
    color: $midnight-blue;
  }
  height: 100%;
  overflow: scroll;
}

#list-view {
  height: 100%;
  overflow: scroll;
}

#home-page {
  //background-color: #2c3e50;
  background-image: url("Background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.padding-top-25px {
  padding-top: 25px;
}

#player-body {
  width: 80%;
  border: $midnight-blue;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  overflow: hidden;
  height: 90%;
  margin-bottom: 50px;
}

footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  h4, p {
    color: $midnight-blue;
  }
}

audio-player .paused .play-text,
audio-player .pause-text {
    display:inline-block;
}
audio-player .play-text,
audio-player .paused .pause-text {
    display:none;
}
audio-player * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-default {
  background-color: #ECF0F1;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
}

h1.header {
  margin-top: 0px;
  padding-top: 180px;
  font-family: 'Roboto', sans-serif;
  /*text-shadow: -4px 0 black;*/
  color: #fff;
}

#logo{
	margin-top: 0px;
	padding-top: 110px;
}
div.oauth-badges {
  $separation-px: 40px;
  padding-top: 75px;

  button#btn-spotify {
    margin-right: $separation-px / 2;
  }

  button#btn-login {
    margin-right: $separation-px / 2;
  }

  button#btn-facebook {
    margin-left: $separation-px / 2;
  }
}

.margin-top-25px {
  margin-top: 25px;
}

.drop-file-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.selected {
  background-color: $asbestos;
}